header {
    position: static;
    width: 100%;
}

.bg-dark {
    background-color: rgb(51, 58, 64) !important;
}

.btn-success {
    background-color: rgb(151, 201, 62);
    border: none;
}

.header__nav__logo {
    width: 140px;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.filter{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}
.no-filter{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.comprar_color {
    animation: comprar_color 1s infinite;
}

@keyframes comprar_color {
    0% {color: limegreen;} 
    100% {color: #198754;}
}

.comprar_bg {
    color: white;
    animation: comprar_bg 1s infinite;
}

@keyframes comprar_bg {
    0% {background-color: #198754;}
    50% {background-color: #198754;}
    100% {background-color: limegreen;}
}

.carousel__texto {
    display:none;
}

.section__carousel__color {
    display: none;
}

.section__texto {
    position: static;
    width: 100%;
    padding: 20px;
    font-size: larger;
    text-align: left;
    background-color: rgb(82, 88, 100);
    color: white;
}

.tarjetas {
    flex-direction: column;
}

.card {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px gray;
}

.dividida {
    display: flex;
    flex-direction: column;
}

.dividida__image {
    width: 100%;
    height: 400px;
    background-image: url('../img/honolulu.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.dividida__texto {
    width: 100%;
}

footer {
    background-color: rgb(28, 63, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__link {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
}

.footer__link a {
    text-decoration: none;
    color: white;
}

.tickets__description {
    color: gray;
    font-size: small;
}

.tickets__porcent {
    font-weight: bold;
}

.formulario {
    width: 100%;
}

.footer__link a:hover {
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 992px) {
    header {
        position: absolute;
        top:0px;
        left:0px;
        z-index: 10;
        width: 100%;
    }

    .carousel__texto {
        display: block;
    }

    .tarjetas {
        flex-direction: row;
    }

    .dividida {
        display: flex;
        flex-direction: row;
    }
    
    .dividida__image {
        width: 50%;
        height: 400px;
        background-image: url('../img/honolulu.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
    }
    
    .dividida__texto {
        width: 50%;
    }

    footer {
        background-color: rgb(28, 63, 83);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer__link {
        width: 100px;
        margin: 20px;
        padding: 5px;
    }

    .formulario {
        width: 50%;
    }
}

